.header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #e6b333;
  color: #ffffff;
}

span {
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
}

span:hover {
  text-decoration: underline;
}
